<nav class="z-depth-0 blue-grey darken-2">
    <div class="left" style="display: flex;">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <img src="https://pwapilipinas.org/assets/images/logo_black.svg" style="margin-right: 10px; filter: invert(1);">
        <span style="font-size: 12pt;">Brand</span>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="https://pwapilipinas.org/assets/images/community.jpg" width="100%">
      </div>
      <a href="javascript:void(0)"><img style="background-color: white;" class="circle" src="https://pwapilipinas.org/assets/images/logo_black.svg"></a>
      <a href="javascript:void(0)"><span class="white-text name">PWA Pilipinas</span></a>
      <a href="javascript:void(0)"><span class="white-text email">Brand</span></a>
    </div></li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/logo">Logos</a></li>
</ul>
<router-outlet></router-outlet>